#navbar {
  background: aqua;
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.nav-item {
  background: rgb(199, 76, 76);
  border: 1px solid rgb(24, 9, 236);
  padding: 5px 10px;
  cursor: pointer;
  color: blue;
}